.game-field {
  position: relative;
}

.game-tile {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: blue;
  font-weight: 700;
  background-repeat: no-repeat;
  border: 2px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}
